@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

@font-face {
    font-family: "SFPro";
    src: url(./assets/SFNS.ttf);
}

body {
    @apply bg-gray-50;
}

* {
    font-family: "SFPro";
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@for $i from 0 through 4 {
    .active-#{$i} {
        left: #{$i*176 + 4}px;
        width: 176px;
        height: 40px
    }

    .history.active-#{$i} {
        left: #{$i*144 + 4}px !important;
        width: 144px !important;
    }
}

@media screen and (max-width: 640px) {
    @for $i from 0 through 4 {
        .active-#{$i} {
            left: 4px;
            top: #{$i*40 + 4}px;
            width: calc(100% - 8px);
            height: 40px;
        }
    }
}

code {
    font-family: "Source Code Pro" !important;
    font-weight: 600;

    & > span {
        font-family: "Source Code Pro" !important;
    }
}

.rounded-full {
    border-radius: 128px !important;
}

.hljs-number {
    @apply text-blue-500;
}